---
import type { CollectionEntry } from "astro:content";
import Card from "../../Card.astro";

type Props = {
  organizer: CollectionEntry<"partners">;
  imgClass?: string;
};

const { organizer, imgClass } = Astro.props;
const hasWebsite = organizer.data.website && organizer.data.website.trim() !== '';
---

{hasWebsite ? (
  <a
    class="font-medium text-xl mt-10 flex items-center justify-center root"
    href={organizer.data.website}
    target="_blank"
  >
    <Card
      borderless
      padless
      class="flex flex-col gap-4 items-center justify-center border-0 hover:underline"
    >
      <img
        class:list={[
          imgClass,
          {
            "w-60": organizer.data.wideLogo,
          },
        ]}
        src={organizer.data.logo}
        alt={`${organizer.data.name} logo`}
        style={`${organizer.data.logoSize}`}
        loading="lazy"
      />
    </Card>
  </a>
) : (
  <div
    class="font-medium text-xl flex items-center justify-center root"
  >
    <Card
      borderless
      padless
      class="flex flex-col gap-4 items-center justify-center border-0"
    >
      <img
        class:list={[
          imgClass,
          {
            "w-60": organizer.data.wideLogo,
          },
        ]}
        src={organizer.data.logo}
        alt={`${organizer.data.name} logo`}
        style={`${organizer.data.logoSize}`}
        loading="lazy"
      />
    </Card>
  </div>
)}
